.login {
  position: relative;
  height: 100vh;
  background-image: url("../../assets/parul1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 30rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }
}
